.clearfix {
	clear: both;
}
.display-1{
	display: none;
}
.hidden
{
  display: none;
}
body, html {
    height: 100%;
    margin: 0;
    font-size: 100%;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
    line-height: 1.8em;
	background: radial-gradient(rgb(237, 177, 177), rgba(198, 49, 49, 0.749));

    color: rgb(109, 80, 80);
	scroll-behavior: smooth; }

	.logo {
		width: 100px;
		margin-top: 10px;
	}

	.container {
		width: 80%;
		margin: 0 auto;
	}

	.jumbotronTop img{
		width: 50%;
    	position: relative;
    	bottom: 45px;
	}

	.block-head {
		position: relative;
		display: inline;
		text-align: center;
		color: #000;
		font-size: 27px;
		letter-spacing: 8px;
		padding-bottom: 20px;
		border-bottom: 6px solid #000;
	}

	.about-head {
		position: relative;
		display: inline;
		color: #000;
		font-size: 27px;
		letter-spacing: 8px;
		padding-bottom: 20px;
		border-bottom: 6px solid #000;
	}

	#features{
		background-color: #f7f7f2;
	}

	#features .block-head h3 {
		padding-left: 20px;
		padding-top: 20px;
	}

	.showcase-images {
		display: flex;
		justify-content: space-evenly;
		padding: 20px;
	}

	.showcase-block {
		text-align: center;
		padding: 20px;
		margin: 20px 0;
		background-color: rgb(250, 236, 236);
		border: 1px solid #ccc;
		box-shadow: -3px -3px 10px #CCC;;
		transition: all 1s ease-in-out;
		border-radius: 10px;
	}

	.showcase-block:hover {
		transform: translate(5%);
	}

	.showcase-block img {
		width: 75%;
		
	}

	#about {
		padding: 20px 0;
	}

	.about-head h3, .register-head h3{
		text-align: center;
	}

	.about-info p {
		text-align: justify;
		padding-bottom: 10px;
	}

	.about-quote {
		text-align: center;
		margin-bottom:140px;
	}

	.about-quote img {
		width: 50%;
		border-radius: 50%;
	}

	#register {
		text-align: center;
		background-color: #f7f7f2;
	}

	.register-img img {
		width: 40%;
		border-radius: 50%;
	}

	.register-info h3 {
		padding: 0;
		text-align: center;
		font-size: 32px;
		color: rgb(109, 80, 80);
		letter-spacing: 8px;
	}

	.register-info input[type=text] {
		height: 40px;
		padding: 10px;
		width: 300px;
		outline: none;
		border: 1px solid #000;
	}

	.register-info button {
		background-color: #000;
		width: 80px;
		height: 40px;
		color: #fff;
		outline: none;
		border: none;
	}

	.register-info button:hover {
		cursor: pointer;
	}

	.register-info button:active {
		outline: 1px solid #666;
	}
	.social
{
	list-style-type: none;


}
.social li{
	display: inline;

}
.social i{
	font-size:3em;
	margin:2%;
	padding: 2%;
	color: #FFF;
}
.social i:hover
{
	color:#DE7F7F;
}
.background10
{
  background-color:#cccccc;
}
/*
.background11
{
  text-align: center;
  background-color: #cccccc;
}
.row1
{
	text-align: center;
}
*/
  #mainFooter {
  background-color: #272727;
  height: 100px; }

#footerCon {

  font-family: 'IBM Plex Serif', serif;}

#bottomNav
 {

  margin: 0 auto;
  text-align: center;
  font-size: .9375em;
 }

#bottomNav ul li
{
  display: inline;
  margin-right: 10px;

}
#bottomNav ul li a
{
  color:white;
  
}
#bottomNav ul li:last-child
{
  margin-right: 0px;

}

#copyright 
{
  text-align: center;
  font-size: .625em;
  margin-top: 10px; 
}
  
  *,
  *::before,
  *::after {
    box-sizing: border-box; }
  
  header {
	text-align: center;
	position: absolute;
    z-index: 999;
    width: 100%;
    }
  
  .nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important; }
  
  .nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(173, 216, 230, 0.75); }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center; }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: #DE7F7F;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative; }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: "";
    position: absolute; }
  
  .nav-toggle-label span::before {
    bottom: 7px; }
  
  .nav-toggle-label span::after {
    top: 7px; }
  
  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #DE7F7F;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out; }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  
  nav li {
    margin-bottom: 1em;
    margin-left: 1em; 
    font-weight: bold;
  }
  
  nav li:first-child {
	padding-top: 15px;
  }
  
  nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out; 
  }
  
  .nav-toggle:checked ~ nav {
    transform: scale(1, 1); }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms; }
  
  @media screen and (min-width: 800px) {
	.display-1{
		display: contents;
	}
	.hidden-1{
		display: none;
	}
		.nav-toggle-label {
		display: none; }
		
		header {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr; }
	
		.logo {
		grid-column: 1/3; 
		width: 100px;
		margin-top: 15px;
		margin-left: 30px;
		}
	
		nav {
		position: relative;
		text-align: left;
		transition: none;
		transform: scale(1, 1);
		background: none;
		top: initial;
		left: initial;
		/* end Edge support stuff */
		grid-column: 4/4;
		padding-right: 45px;
		margin-top: 20px;
		display: flex;
		justify-content: flex-end;
		align-items: center; }
	
		nav ul {
		display: flex; }
	
		nav li {
		margin-left: 3em;
		margin-bottom: 0; }
	
		nav a {
		opacity: 1;
		position: relative; 
		}
	
		nav a::before {
		content: "";
		display: block;
		height: 5px;
		background: #272727;
		position: absolute;
		top: -0.75em;
		left: 0;
		right: 0;
		-moz-transform: scale(0, 1);
		-o-transform: scale(0, 1);
		-webkit-transform: scale(0, 1);
		-ms-transform: scale(0, 1);
		transform: scale(0, 1);
		-moz-transition: transform ease-in-out 250ms;
		-o-transition: transform ease-in-out 250ms;
		-webkit-transition: transform ease-in-out 250ms;
		-ms-transition: transform ease-in-out 250ms;
		transition: transform ease-in-out 250ms; }
	
		nav a:hover::before {
		-moz-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1); } 

		.showcase-block {
			margin: 0 20px;
		}

		.showcase-block img {
			border-radius: 0;
		}

		.about-block {
			display: flex;
			justify-content: space-between;
			padding: 0px;
		}
	
		.about-head h3 {
			font-size: 27px;
			font-weight: bold;
			
		}
	
		.about-info {
			text-align: center;
			width: 100%;
			padding-right: 170px;
		}
	
		.about-info p {
			font-size: 18px;
		}
		
		.about-quote {
			display: flex;
			justify-content: flex-start;
			margin-top: 200px;
			margin-right: 80px;
		}
		.about-quote h1{
			margin-top:300px;
			margin-right:330px;
			margin-left: 40px;
		}
	
		.about-quote img {
			width: 200px;
			border-radius: 50%;
		}

		.register-img {
			width: 40%;
		border-radius: 50%;
			float: left;
		}

		.register-img img {
			width: 40%;
		border-radius: 50%;
		}

		.register-info {
			padding: 40px;
			text-align: center;
		}
		
		.register-info h3 {
			padding: 0;
			text-align: center;
			font-size: 32px;
			color:  rgb(109, 80, 80);
			letter-spacing: 8px;
		}

		.register-info input[type=text] {
			height: 40px;
			padding: 10px;
			width: 300px;
			outline: none;
			border: 1px solid #000;
		}

		.register-info button {
			background-color: #000;
			width: 80px;
			height: 40px;
			color: #fff;
			outline: none;
			border: none;
		}
	}

    nav li:first-child {
        padding-top: 0px;
    }
  /*NAV STYLES END*/

  .jumbotronTop img {
	  width: 250px;
	 
  }

  .pxImage1 .pxImageText {
	  color:white;
    font-size: 2.5vw; }
  
  .pxImage1, .pxImage2, .pxImage3, .pxImage4 {
    position: relative;
    opacity: 0.90;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .pxImage1 {
	background: url("../images/background/bg1.jpg");
	background-size: cover;
	background-position: left;
	filter: blur(1.2px);
  	-webkit-filter: blur(1.2px);
	min-height: 100%;
	color:white; }
  
  .pxImage2 {
    /*background-image: url("../images/background/Features.jpg");*/
	background-position: right top;
	min-height: 100%;
	}
  @media screen and (min-width: 1100px) {
	.display-1{
		display:contents;
	}
	.hidden-1{
		display: none;
	}
	  .pxImage2 {
		background-position: top 0px left -5px;
	  }
  }

  .pxImage3 {
		min-height: 100%;	
	}
  
  .pxText {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgb(65, 4, 4);
    font-size: 30px;
    letter-spacing: 8px;
  }
  
  .pxText .pxImageText {
    background-color: #111;
    color: #fff;
    padding: 20px; }
  
  @media screen and (max-width: 461px) {  
	.footerCon {
  padding: 20px 15px 0px 15px;
  font-family: 'IBM Plex Serif', serif; }

#bottomNav
 {

  margin: 0 auto;
  text-align: center;
  font-size: .5em;
 }

#bottomNav ul li
{
  display: inline;
  margin-right: 10px;

}
#bottomNav ul li a
{
  color:white;
  
}
#bottomNav ul li:last-child
{
  margin-right: 0px;

}

#copyright 
{
  text-align: center;
  font-size: .625em;
  margin-top: 10px; 
}

#w3c
{
	margin: 0 auto;
	margin-left: 50px;
}

	.showcase-images {
		display: grid;
		grid-template-columns: 1fr;
	}
    nav li {
        font-weight: bold;
    }
    .social i
	{
		font-size: 0.25em;
	}
    nav li:first-child {
        padding-top: 15px;
    }
  }
  
  #gallery
{
	margin: 0 auto;
	width: 1000px;
	
	padding: 30px;
	/*horz offset, vert offset, optional blur distance and optional spread distance of the shadow)*/
 	
}
#show-img{
	max-height:400px;
	max-width:800px;
}
/* nav
{
	background-color: #efefef;
	height: 30px;
	color: #333;
	padding-top: 10px;
} */

#main
{
	margin: 0 auto;
	text-align: center;
	padding: 0;
}

#main li
{
	display: inline;
}

#main a 
{
	color: #333;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
}

#mainNav a:hover
{
	color: #a9d9d9;
}
#about{
	background-color: white;
}
@-webkit-keyframes swing {
	20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: top center; }
	20% { -webkit-transform: rotate(15deg); }	
	40% { -webkit-transform: rotate(-10deg); }
	60% { -webkit-transform: rotate(5deg); }	
	80% { -webkit-transform: rotate(-5deg); }	
	100% { -webkit-transform: rotate(0deg); }
}

@-moz-keyframes swing {
	20% { -moz-transform: rotate(15deg); }	
	40% { -moz-transform: rotate(-10deg); }
	60% { -moz-transform: rotate(5deg); }	
	80% { -moz-transform: rotate(-5deg); }	
	100% { -moz-transform: rotate(0deg); }
}

@-ms-keyframes swing {
	20% { -ms-transform: rotate(15deg); }	
	40% { -ms-transform: rotate(-10deg); }
	60% { -ms-transform: rotate(5deg); }	
	80% { -ms-transform: rotate(-5deg); }	
	100% { -ms-transform: rotate(0deg); }
}

@-o-keyframes swing {
	20% { -o-transform: rotate(15deg); }	
	40% { -o-transform: rotate(-10deg); }
	60% { -o-transform: rotate(5deg); }	
	80% { -o-transform: rotate(-5deg); }	
	100% { -o-transform: rotate(0deg); }
}

@keyframes swing {
	20% { transform: rotate(15deg); }	
	40% { transform: rotate(-10deg); }
	60% { transform: rotate(5deg); }	
	80% { transform: rotate(-5deg); }	
	100% { transform: rotate(0deg); }
}

#swing:target {
	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
	-ms-transform-origin: top center;
	-o-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	-moz-animation-name: swing;
	-ms-animation-name: swing;
	-o-animation-name: swing;
	animation-name: swing;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}